# Netflix Content Strategy Analysis

This notebook analyzes Netflix's content strategy based on viewership data for the year 2023. We explore viewership trends by content type, language, release month, and more to derive insights into strategic decisions.

In [1]:
# Importing all necessarylibraries for this project
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load the netflix dataset
netflix_data = pd.read_csv("netflix_content_2023.csv")
netflix_data.head()

,Title,Available Globally?,Release Date,Hours Viewed,Language Indicator,Content Type
0,The Night Agent: Season 1,Yes,2023-03-23,"81,21,00,000",English,Show
1,Ginny & Georgia: Season 2,Yes,2023-01-05,"66,51,00,000",English,Show
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,"62,28,00,000",Korean,Show
3,Wednesday: Season 1,Yes,2022-11-23,"50,77,00,000",English,Show
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,"50,30,00,000",English,Movie

## Data preparation
* Convert Hours viewed to numeric

In [3]:
netflix_data['Hours Viewed (Converted)'] = netflix_data['Hours Viewed'].replace(',', '', regex=True).astype(float)
netflix_data[['Title', 'Hours Viewed (Converted)']].head()

                                 Title  Hours Viewed (Converted)
0            The Night Agent: Season 1               812100000.0
1            Ginny & Georgia: Season 2               665100000.0
2   The Glory: Season 1 // 더 글로리: 시즌 1               622800000.0
3                  Wednesday: Season 1               507700000.0
4  Queen Charlotte: A Bridgerton Story               503000000.0

In [5]:
netflix_data['Hours Viewed (Converted 2)'] = netflix_data['Hours Viewed'].astype(str).str.replace(r'[^0-9.\-]', '', regex=True).astype('float64') #astype(str) ensure string; .str.replace(r'[^0-9.\-]', '', regex=True) keep digits, dot, minus
netflix_data[['Title', 'Hours Viewed (Converted 2)']].head()

                                 Title  Hours Viewed (Converted 2)
0            The Night Agent: Season 1                 812100000.0
1            Ginny & Georgia: Season 2                 665100000.0
2   The Glory: Season 1 // 더 글로리: 시즌 1                 622800000.0
3                  Wednesday: Season 1                 507700000.0
4  Queen Charlotte: A Bridgerton Story                 503000000.0

In [ ]:
# Set Style for seaborn
sns.set_style("whitegrid")